* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@media all and (display-mode: fullscreen) {
  body {
    margin:0px;
    padding:0px;
    border: 0;
  }
}

@media (min-width: 720px) {
  body{
    margin:0px;
    padding:0px;
}

#menu {
    width: 712px;
    left: 50%;
    margin: 0;
    padding: 0;
    margin-left: -360px;
  }
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000;
    font-size:11px;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color: #fff;
    cursor: default;
    image-rendering: pixelated;
    overflow: hidden;
}
#menu{
  z-index: 100;
  position: relative;
  padding: 4px;
}

#menu ul{
  width: 100%;
  height: 40px;
  display: block;
  border: solid 1px #fff;
}

#menu li{
  /*width: 100%;*/
  height: 40px;
  background-color: rgba(0,0,0,1);
  display: block;
  border: solid 1px #fff;
  margin: 2px 0px;
}
#config {
  display: none;
}
#config li{
  margin: 4px 0px;
  height: 80px;
  border: solid 1px #ffffff;
  background-color: rgba(0,0,0,1);

}
#menu p {
  /*background-color: transparent;*/
  background-image: url('../img/ui.gif');
  background-repeat: no-repeat;
  height: 8px;
  padding: 0px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  display: block;
}
#config p {
  /*background-color: transparent;*/
  background-image: url('../img/ui.gif');
  background-repeat: no-repeat;
  height: 8px;
  padding: 0px;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
  display: block;
}
#menu li#label {
  border: solid 1px rgba(0,0,0,0);
  border-bottom: solid 1px #fff;
}
#label p{
  margin-left: 0;
  background-position-y: 0px;
}
#start p{
  background-position-y: -8px;
}
#restart p{
  background-position-y: -24px;
}
#settings p{
  background-position-y: -16px;
}
#acceleration p{
  background-position-y: -32px;
}
#grip p{
  background-position-y: -40px;
}
#steering p{
  background-position-y: -48px;
}
#init p{
  background-position-y: -56px;
}
#tone p{
  background-position-y: -64px;
}
